[@guardrails-ai/api-client](../README.md) / [Exports](../modules.md) / ValidationResult

# Interface: ValidationResult

The output from a single Validator.

**`Export`**

ValidationResult

## Table of contents

### Properties

- [metadata](ValidationResult.md#metadata)
- [outcome](ValidationResult.md#outcome)

## Properties

### metadata

• `Optional` **metadata**: `Object`

**`Memberof`**

ValidationResult

#### Index signature

▪ [key: `string`]: `any`

#### Defined in

src/models/ValidationResult.ts:32

___

### outcome

• `Optional` **outcome**: [`ValidationResultOutcomeEnum`](../modules.md#validationresultoutcomeenum)

**`Memberof`**

ValidationResult

#### Defined in

src/models/ValidationResult.ts:26
